
/* Resume style sheet */

/* General */
body {
	background-color: white;
	font-family: "Calibri";
	font-size: 16px;
	color: black;
}
/* Title */
h1 {
	font-size: 50px;
	text-align: center;
}
/* Main Sections */
h2 {
	font-size: 23px;
	border-bottom-style: solid;
}
/* Sub-Sections */
h3 {
	font-size: 18px;
}
/* Sub-category class */
.categ{
	font-weight: bold;
}
/* links */
a {
	text-decoration: none;
}



